body {
  background: #eee;
}

#title_container {
  /* background: #B82907; */
  background: #597482;
  padding: 20px;
}

#title_container .container-fluid .brand {
  font-family: "Corbel";
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}

#title_container .container-fluid .system {
  font-family: "Calibri";
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
}

#main_container {
  margin-top: 50px;
}

.panel {
  border: 1px solid #c7c7c7;
}

.panel .panel-heading {
  background: #597482;
  font-family: "Corbel";
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
}

label {
  font-family: "Corbel";
  font-size: 14px;
  font-weight: lighter;
}

h3 {
  font-family: "Corbel";
  font-size: 30px;
  font-weight: lighter;
  color: #333;
}

#account_register {
  margin-top: 25px;
}

.btn-link {
  text-decoration: none;
  color: #333;
  margin-left: 8px;
}

.btn-link:hover {
  text-decoration: none;
  color: #333;
}

.mean {
  font-family: "Calibri";
  font-size: 12px;
  font-weight: lighter;
  color: #aaa;
  margin-top: -10px;
}

.user_name {
  font-family: "Corbel";
  font-size: 20px;
  font-weight: bolder;
  color: #333;
}

.user_position {
  font-family: "Calibri";
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.user_age {
  font-family: "Calibri";
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.user_address {
  font-family: "Calibri";
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

#panel_table .panel-body {
  padding: 0px;
}

#readonly {
  border: none;
  background: none;
}

.input-group {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
p {
  cursor: default;
}

.btn,
select {
  cursor: pointer;
}

h3 {
  color: #333;
  margin-bottom: 20px;
}

/* customize */

/* select input style */
.selectize-input {
  padding-right: 24px;
  padding-left: 12px;
}

.selectize-control.single .selectize-input::after {
  right: 6px;
}

.selectize-control.single .selectize-input.has-items {
  width: max-content;
  min-width: 100%;
}

.selectize-control.single .selectize-input.has-items>input {
  opacity: 0;
  position: relative !important;
  left: 0px;
}

/* end of select input style */

/* number input style */
table.table input[type="number"] {
  padding-right: 20px;
}

table.table input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

table.table input[type=number]::-webkit-inner-spin-button,
table.table input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* end of number input style */

/* table style */

/* column width */
/* table.table > thead > tr > th:first-child { */
table.table>tbody>tr>td:first-child>input {
  width: 100px;
}

table.table .quantity {
  width: 100%;
  text-align: right;
}

/* sticky column in table */
table.table>thead>tr>th.sticky-col,
table.table>tbody>tr>td.sticky-col {
  position: sticky;
  background-color: white;
  left: 0;
  z-index: 2;
}

.table-striped>tbody>tr:nth-of-type(odd)>td.sticky-col {
  background-color: #f9f9f9;
}

table.table>tbody>tr:hover>td.sticky-col {
  background-color: #f5f5f5;
}

table.table>thead>tr>th.sticky-col::after,
table.table>tbody>tr>td.sticky-col::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 2px solid #ddd;
  z-index: -1;
}

/* end of table style */

/* end of costumize */